<div class="atk-row border-top">
  <div class="span1" style='text-align:left'><b><u>S.No:</u></b></div>
  <div class="span4 left" style='text-align:left'><b><u>Service</u></b></div> 
  <div class="span4 left" style='text-align:left'><b><u>PERTICULERS</u></b></div> 
  <div class="span2 border-left" style='text-align:right'><b><u>Rupees:</u></b></div> 
   
</div>
<?rows?>
  <?row?>
  <div class="atk-row border-top">
    <div class="span1 " style='text-align:left'><?$sno?></div>
    <div class="span4 left" style='text-align:left'><?$item?></div> 
    <div class="span4 left" style='text-align:left'><?$unit?>@<?$rate?>/-<?$at_rate?><?$per?></div> 
    <div class="span2 border-left" style='text-align:right'><?$amount?></div> 
    <!-- <div class="span6 left"><?$sno?> - <?$item?></div>
    <div class="span3 left"><?$unit?>/-<?$rate?>days&<?$at_rate?>hrs</div>
    <div class="span3 border-left"><?$amount?></div> -->
  </div>
  <?/row?>
<?/rows?>
<?$ExtraRows?>
