<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
				<title>Corporate Security</title>
				<link href="templates/default/css/bootstrap-responsive.css" type="text/css" rel="stylesheet"/>
		</head>

		<body>


		<div class="container" style="border: 1px solid black" >
			<div class="row">
					<div class="span12" style="border-bottom: 2px solid black" >
						<img src="templates/default/images/logo.jpg" style="width:85%">
					</div>	
			</div>
			<div class="row" >

				<div class="span8">
					<p> Licence no:386/CID/(SSB)/2011,1G,Police(Security) Jaipur </BR>
									Registration No: 157/CE/31(3)(Year 2006) </BR>
							     	P.F.: RJ/21487 </BR>
							     	E.S.I.C: 16000504110001018 </BR>
							     	Service Tax No: ABLPH6708ESD001 </BR>
							     	Pan No: ABLPH6708E 
					</p>
				</div>		
				<div class="span3" style="border-left: 1px solid black" >
					<p> Assignment:_______________</p>
					<h5> Bill No: _______________</h5>
					<h5> Date:___________________________</h5>
					<h5> Period:_________________________</h5>

				</div>
			</div>
			<div class="row">
				<div class="span12"  style="border-top:1px solid black">
					<b>M/s</b> <hr /> </br>
		 				<hr />
				</div>
			</div>	
					

					<div class="row">
						<div class="span12" style="border-bottom: 1px solid black" align="center">
					
							<p> <b>Services provided by  us:</b> Security Guard, Lady Guard, Ex-Serviceman, Gunmen, Sec.Consultancy etc.
							</p>
				
						</div>
				
					</div>
					<?$item_spot?>
     				<?$ExtraRows?>

						<div class="row" >
							<div class="span9"  style="border-right:1px solid black; border-bottom:1px solid black ">
								<ul type="numeric">
									<li>
										<h2></h2>
										
									</li>
									<li>
										<h2><hr/></h2>
										
									</li>
									<li>
										<h2><hr/></h2>
									</li>
									<li>
										<h2><hr/></h2>
									</li>
									<li>
										<h2><hr/></h2>
									</li>
									<li>
										<h2><hr/></h2>
									</li>
									<li>
										<h2><hr/></h2>
									</li>
									<li>
										<h2><hr/></h2>
									</li>
									<li>
										<h2><hr/></h2>
									</li>
									<li>
										<h2><hr/></h2>
										<hr/>
									</li>
								</ul>

							<div>
									<p>
										Other Services:</br>
										Add_______________20% Services Charges on Rs.______________</br>

										Service Tax @____________on Rs._________________________</br>

										Rupees___________________________________________________<b>TOTAL</b> 
									</p>
							</div>				
							</div>
								<div class="span2" align="center" >		
									<b><u>Rupees:</u></b>
								</div>
						</div>
								<div class="row">

									<div class="span9"  style="border-right:1px solid black">
								
								
										1. Cash Payment only made againts official printed otherwise we sell not 		accept any reponsiblity whatsoever.</br>
										2.All payment must be made *A/c Payee’ Cheque/Draft in favor official 			Corporate Security Service.</br>
										3.If bill is not paid on presentation the interest of 12% will be charged on 	billing amount</br>
										4. All disputes subject to udaipur, rajasthan juridication only.
										<br/>
										<br/>
										<br/>
										<br/>
									</div>
									<div class="span2" style="border-top:1px solid black">
										<h4>For:Corporate Security Service</h4>
										
										
										<p> Manager / Accountant</p>
									</div>
								</div>
						</div>
			
		</body>
	
</html>
