<div>
	<center><b>CORPORATE SECURITY SERVICE</b></center>
	Form No. :
	<table style="width:100%">
		<tr>
			<td>
			<table style="width:100%;">
				<tr>
					<td>
						<table style="width:100%;">
							<tr>
								<td>Name</td>
								<td><?name?>&nbsp;<?/name?>&nbsp;</td>
							</tr>
							<tr>
								<td>Father's/Husband's Name</td>
								<td><?father_name?>&nbsp;<?/father_name?>&nbsp;</td>
							</tr>
							<tr>
								<td>Religion</td>
								<td><?religion?>&nbsp;<?/religion?>&nbsp;</td>
							</tr>
							<tr>
								<td>Date of Birth</td>
								<td><?dob?>&nbsp;<?/dob?></td>
								<td>Occupation</td>
								<td><?occupation?>&nbsp;<?/occupation?>&nbsp;</td>
							</tr>
						</table>
					</td>
					<td style='border:1px solid black;width:3%'>
						<img src="<?emp_image?><?/emp_image?>" width='100px' height='120px'>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table style='width:100%;' border="1" cellspacing="0">
				<tr>
					<td>
						<table style='width:100%'>
							<tr>
								<td colspan='4'><center>(A) Current Address :</center></td>
							</tr>
							<tr>
								<td>H.No.</td>
								<td><?h_no_a?>&nbsp;<?/h_no_a?>&nbsp;</td>
								<td>R.N.</td>
								<td><?r_no_a?>&nbsp;<?/r_no_a?>&nbsp;</td>
							</tr>
							<tr>
								<td>Area</td>
								<td><?area_a?>&nbsp;<?/area_a?>&nbsp;</td>
								<td>City</td>
								<td><?city_a?>&nbsp;<?/city_a?>&nbsp;</td>
							</tr>
							<tr>
								<td>PIN</td>
								<td><?pin_a?>&nbsp;<?/pin_a?>&nbsp;</td>
								<td>Distt.</td>
								<td><?distt_a?>&nbsp;<?/distt_a?>&nbsp;</td>
							</tr>
							<tr>
								<td>Police St.</td>
								<td><?police_station_a?>&nbsp;<?/police_station_a?>&nbsp;</td>
								<td>State</td>
								<td><?state_a?>&nbsp;<?/state_a?>&nbsp;</td>
							</tr>
							<tr>
								<td>Phone No.</td>
								<td><?ph_no_a?>&nbsp;<?/ph_no_a?>&nbsp;</td>
								<td>Mobile No.</td>
								<td><?mobile_no_a?>&nbsp;<?/mobile_no_a?>&nbsp;</td>
							</tr>
						</table>
					</td>
					<td>
						<table style='width:100%'>
							<tr>
								<td colspan='4'><center>(B) Permanent Address :</center></td>
							</tr>
							<tr>
								<td>H.No.</td>
								<td><?h_no_b?>&nbsp;<?/h_no_b?>&nbsp;</td>
								<td>R.N.</td>
								<td><?r_no_b?>&nbsp;<?/r_no_b?>&nbsp;</td>
							</tr>
							<tr>
								<td>Area</td>
								<td><?area_b?>&nbsp;<?/area_b?>&nbsp;</td>
								<td>City</td>
								<td><?city_b?>&nbsp;<?/city_b?>&nbsp;</td>
							</tr>
							<tr>
								<td>PIN</td>
								<td><?pin_b?>&nbsp;<?/pin_b?>&nbsp;</td>
								<td>Distt.</td>
								<td><?distt_b?>&nbsp;<?/distt_b?>&nbsp;</td>
							</tr>
							<tr>
								<td>Police St.</td>
								<td><?police_station_b?>&nbsp;<?/police_station_b?>&nbsp;</td>
								<td>State</td>
								<td><?state_b?>&nbsp;<?/state_b?>&nbsp;</td>
							</tr>
							<tr>
								<td>Phone No.</td>
								<td><?ph_no_b?>&nbsp;<?/ph_no_b?>&nbsp;</td>
								<td>Mobile No.</td>
								<td><?mobile_no_b?>&nbsp;<?/mobile_no_b?>&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table style="width:100%">
				<tr>
					<td>Email</td>
					<td><?email?>&nbsp;<?/email?>&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			Educational Qualification
			<table style="width:100%" border="1" cellspacing="0">
				<tr>
					<th>Examination</th>
					<th>Subject</th>
					<th>Board/University</th>
					<th>Year</th>
					<th>Div</th>
					<th>Remark</th>
				</tr>
				<tr>
					<td><?edu_examination_1?>&nbsp;<?/edu_examination_1?>&nbsp;</td>
					<td><?edu_subject_1?>&nbsp;<?/edu_subject_1?>&nbsp;</td>
					<td><?edu_board_university_1?>&nbsp;<?/edu_board_university_1?>&nbsp;</td>
					<td><?edu_year_1?>&nbsp;<?/edu_year_1?>&nbsp;</td>
					<td><?edu_div_1?>&nbsp;<?/edu_div_1?>&nbsp;</td>
					<td><?edu_remarks_1?><?/edu_remarks_1?>&nbsp;</td>
				</tr>
				<tr>
					<td><?edu_examination_2?>&nbsp;<?/edu_examination_2?>&nbsp;</td>
					<td><?edu_subject_2?>&nbsp;<?/edu_subject_2?>&nbsp;</td>
					<td><?edu_board_university_2?>&nbsp;<?/edu_board_university_2?>&nbsp;</td>
					<td><?edu_year_2?>&nbsp;<?/edu_year_2?>&nbsp;</td>
					<td><?edu_div_2?>&nbsp;<?/edu_div_2?>&nbsp;</td>
					<td><?edu_remarks_2?>&nbsp;<?/edu_remarks_2?>&nbsp;</td>
				</tr>
				<tr>
					<td><?edu_examination_3?>&nbsp;<?/edu_examination_3?>&nbsp;</td>
					<td><?edu_subject_3?>&nbsp;<?/edu_subject_3?>&nbsp;</td>
					<td><?edu_board_university_3?>&nbsp;<?/edu_board_university_3?>&nbsp;</td>
					<td><?edu_year_3?>&nbsp;<?/edu_year_3?>&nbsp;</td>
					<td><?edu_div_3?>&nbsp;<?/edu_div_3?>&nbsp;</td>
					<td><?edu_remarks_3?>&nbsp;<?/edu_remarks_3?>&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			Experience
			<table style='width:100%' border="1" cellspacing="0">
				<tr style>
					<td width="2%">1.</td>
					<td width="98%"><?experience1?>&nbsp;<?/experience1?>&nbsp;</td>
				</tr>
				<tr>
					<td>2.</td>
					<td><?experience2?>&nbsp;<?/experience2?>&nbsp;</td>
				</tr>
				<tr>
					<td>3.</td>
					<td><?experience3?>&nbsp;<?/experience3?>&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table style="width:100%">
				<tr>
					<td>Designation For Applied</td>
					<td><?designation_for_applied?>&nbsp;<?/designation_for_applied?>&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			Computer Qualification
			<table style="width:100%" border="1" cellspacing="0">
				<tr>
					<th>Examination</th>
					<th>Institute Name</th>
					<th>Remark (About Course)</th>
				</tr>
				<tr>
					<td><?comp_examination_1?>&nbsp;<?/comp_examination_1?>&nbsp;</td>
					<td><?comp_institute_name_1?>&nbsp;<?/comp_institute_name_1?>&nbsp;</td>
					<td><?remarks_about_course_1?>&nbsp;<?/remarks_about_course_1?>&nbsp;</td>
				</tr>
				<tr>
					<td><?comp_examination_2?>&nbsp;<?/comp_examination_2?>&nbsp;</td>
					<td><?comp_institute_name_2?>&nbsp;<?/comp_institute_name_2?>&nbsp;</td>
					<td><?remarks_about_course_2?>&nbsp;<?/remarks_about_course_2?>&nbsp;</td>
				</tr>
				<tr>
					<td><?comp_examination_3?>&nbsp;<?/comp_examination_3?>&nbsp;</td>
					<td><?comp_institute_name_3?>&nbsp;<?/comp_institute_name_3?>&nbsp;</td>
					<td><?remarks_about_course_3?>&nbsp;<?/remarks_about_course_3?>&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table style="width:100%">
				<tr>
					<td>Person's Name who introduced with concern (Address)</td>
					<td><?personal_name_with_introduce_concern?>&nbsp;<?/personal_name_with_introduce_concern?>&nbsp;</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<table style="width:100%" border="1" cellspacing="0">
				<tr>
					<td>
						<table style="width:100%">
							<tr>
								<td colspan='2'><center>Guarantor(1)</center></td>
							</tr>
							<tr>
								<td>Name</td>
								<td><?g1name?>&nbsp;<?/g1name?>&nbsp;</td>
							</tr>
							<tr>
								<td>Father's Name</td>
								<td><?g1father_name?>&nbsp;<?/g1father_name?>&nbsp;</td>
							</tr>
							<tr>
								<td>Designation</td>
								<td><?g1designation?>&nbsp;<?/g1designation?>&nbsp;</td>
							</tr>
							<tr>
								<td>Address</td>
								<td><?g1address?>&nbsp;<?/g1address?>&nbsp;</td>
							</tr>
							<tr>
								<td>Guarantor's Sign</td>
								<td><?g1guarantor_sig?>&nbsp;<?/g1guarantor_sig?>&nbsp;</td>
							</tr>
						</table>
					</td>
					<td>
						<table style="width:100%">
							<tr>
								<td colspan='2'><center>Guarantor(2)</center></td>
							</tr>
							<tr>
								<td>Name</td>
								<td><?g2name?>&nbsp;<?/g2name?>&nbsp;</td>
							</tr>
							<tr>
								<td>Father's Name</td>
								<td><?g2father_name?>&nbsp;<?/g2father_name?>&nbsp;</td>
							</tr>
							<tr>
								<td>Designation</td>
								<td><?g2designation?>&nbsp;<?/g2designation?>&nbsp;</td>
							</tr>
							<tr>
								<td>Address</td>
								<td><?g2address?>&nbsp;<?/g2address?>&nbsp;</td>
							</tr>
							<tr>
								<td>Guarantor's Sign</td>
								<td><?g2guarantor_sig?>&nbsp;<?/g2guarantor_sig?>&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td>
			<center>AFFIDAVIT</center>
			<table style="width:100%">
				<tr>
					<td>I/we</td>
					<td><?i_we?>&nbsp;<?/i_we?>&nbsp;</td>
					<td>Father's Name</td>
					<td><?aff_father_name?>&nbsp;<?/aff_father_name?>&nbsp;</td>
				</tr>
				<tr>
					<td>Religion</td>
					<td><?aff_religion?>&nbsp;<?/aff_religion?>&nbsp;</td>
					<td>Address</td>
					<td><?aff_address?>&nbsp;<?/aff_address?>&nbsp;</td>
				</tr>
				<tr>
					<td colspan="3"> has/have read carefully all information shall given above and no any wrong information has been given by us.</td>
				</tr>
				<tr>
					<td>
						<b>
							<?asign?>&nbsp;<?/asign?>&nbsp;<br>
							Applicants Signture
						</b>
					</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</div>