<div class="main-div" style="margin:69px 230px">
<table width="25%" border="1" cellspacing="0" cellpadding="10" >
  <tr>
    <td height=""><table width="100%" border="1" cellspacing="0" cellpadding="0">
      <tr>
        <td height="38" style="float:right"><h1><span style="margin-left:44px; align:center; padding-top:9px;">CORPORATE SECURITY SERVICE</span></h1></td>
        <td width="20%" rowspan="2">
        <table width="100%" border="1" cellspacing="5" cellpadding="5" >
          <tr>
            <td>Assigament :</td>
          </tr>
          <tr>
            <td>Bill No. :<?name?>111<?/name?></td>
          </tr>
          <tr>
            <td>Date :<?date?>Date<?/date?></td>
          </tr>
          <tr>
            <td>Period :<?period?>period<?/period?></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td width="100%" style="float:right"><blockquote>
          An ISO 9001:2008 Certified Company
        </blockquote>
          <table width="100%" border="1" cellspacing="5" cellpadding="5">
            <tr>
              <td height="15"><p>Licence no.: 386/CDI/(SSB)2011, I.G. Police (Security)Jaipur</p>
                <p>Registration No.: 157/CE/31(3)(Year 2006)</p>
                <p>P.F. : RJ/4487</p>
                <p>E.S.I.C. : 16000504110001018</p>
                <p>Services Tax N. : ABLPH6708ESD001</p>
                <p>Pan No : ABLPH6708E</p></td>
              <td><p>1-B, Mehta Bhavan, Nr. Hotel</p>
                <p>Kajri (RTDC), Shastri Circle,</p>
                <p>Udaipur - 313001 (Raj.)</p>
                <p>9444-57729, 92520-27729</p></td>
              </tr>
          </table></td>
        </tr>
      <tr >
        <td colspan="2" ><p>M/s: <?party?>party<?/party?> _________________________________________________________________________________________________________________________________</p>
          <p>_____________________________________________________________________________________________________________________________________<br />
          </p></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"> Services provided by us: Security Guard, Lady Guard, Ex-Serviceman-Gunman, Office Staff, Security Consultant, CCTV, Mental Detectors</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
     <?$item_spot?>
     <?$ExtraRows?>
      
     
      <tr>
                <td colspan="6">
                <table width="100%" border="1" cellspacing="5" cellpadding="2">
                  <tr>
                    <td width="89%">Total Amount :</td>
                    <td width="11%"><?total_amount?>total_amount<?/total_amount?></td>
                  </tr>
                  <tr>
                    <td width="89%">Service Charge@<?service_charge_per?><?/service_charge_per?>% on <?$total_amount?>:</td>
                    <td width="11%"><?service_charge?>service_charge<?/service_charge?></td>
                  </tr>
                 <!--  <tr>
                    <td>Grand Total :</td>
                    <td><?grand_total?>grand_total<?/grand_total?></td>
                  </tr> -->
                  <tr>
                    <td>Service Tax@<?tax?><?/tax?>% on <?$grand_total?></td>
                    <td><?tax_amount?>tax_amount<?/tax_amount?></td>
                  </tr>
                  <tr>
                    <td height="4">Net Amount :</td>
                    <td><?net_amount?>net<?/net_amount?></td>
                  </tr>
                </table></td>
                </tr>
    </table></td>
  </tr>
</table>
</div>