<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="css/atk-main.css" />
<link rel="stylesheet" type="text/css" href="css/atk-custom.css" />
<div id="<?$_name?>">
	<!-- MAIN DIV -->
	<div class='atk-row' title=''>
		<!-- TOP IMAGE DIV -->
		<div class='border'>
			<img src="header.png">
		</div>
		<!-- 2 COL SECTION [ license | bill-no ] -->
		<div class='atk-row'>
			<div class="span8">
				<!-- LICENCE SECTION -->
				<div class="row">infoline</div>
				<div class="row">infoline</div>
				<div class="row">infoline</div>
				<div class="row">infoline</div>
				<div class="row">infoline</div>
				<div class="row">infoline</div>
			</div>
			<div class="span4">
				<!-- BILL NO SECTION -->
				<div class="row">info</div>
				<div class="row">info</div>
				<div class="row">info</div>
				<div class="row">info</div>
			</div>
		</div>
		<div class="atk-row">M/S info</div>
	</div>
	<?$item_spot?>
</div>